/Animal.class
/CompactDisc.class
/DvdMovie.class
/InterfaceExample1.class
/InterfaceExample2.class
/MultipleInterfaceImpl.class
/Pig.class
/PolyMorphicInterfaceDemo.class
/Rectangle.class
/RetailItems.class
/Shape.class
/c1.class
/i1.class
/i2.class
